.account{
	position: relative;
	background: #fff;
	cursor: pointer;
	font-weight: 300;
	border-top: 2px solid #ebebeb;
	height: 60px;
}
.accountName {
	top: 10px;
    left: 15px;
    position: absolute;
    color: #6b6b6b;
}
.accountBalance {
    top: 10px;
    right: 15px;
    text-align: right;
    position: absolute;
    color: #6b6b6b;
}
.accountType {
	font-size: 10px;
	top: 32px;
    left: 15px;
    position: absolute;
    color: #6b6b6b;
}